<div class="card-title-container-one">
  <div class="card-title-container-name">
    Brands
  </div>
  <a class="filter-button">
      Filter <i class="fas fa-filter"></i>
    </a>
</div>

<div class="store-index-form form-fadeOut hidden">
  <%= render 'shared/filter' %>
</div>

<div class="card-container">
  <% @stores.brand.each do |store| %>
  <div class="card">
    <%= link_to store_path(store), class: "card-link" do %>
    <div class="card-img stores-index-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path store.photo %>');">
      <%# raise %>
    </div>
    <div class="card-store-name">
      <%= store.name %>
    </div>
    <div class="card-rent-price">
      €<%= store.rent_price_min %> - €<%= store.rent_price_max %> / Item Prices
    </div>
    <div class="card-store-commission">
      <p><%= store.commission_amount %> % Commission</p>
    </div>
    <div class="card-search-category">
      <%= store.category %> - <%= store.location %>
    </div>
    <div class="store-rating card-stars">
      <% num_stars = store.rating %>
      <% num_stars.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - num_stars).times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>



<!-- all cards -->
<div class="card-title-container-two">
  <div class="card-title-container-name">Stores</div>
</div>

<div class="card-container">
  <% @stores.shop.each do |store| %>
  <div class="card">
    <%= link_to store_path(store), class: "card-link" do %>
    <div class="card-img store-index-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path store.photo %>');">
      <%# raise %>
    </div>
    <div class="card-store-name">
      <%= store.name %>
    </div>
    <div class="card-rent-price">
      €<%= store.rent_price_min %> - €<%= store.rent_price_max %> / Item Prices
    </div>
    <div class="card-store-commission">
      <p><%= store.commission_amount %> % Commission</p>
    </div>
    <div class="card-search-category">
      <%= store.category %> - <%= store.location %>
    </div>
    <div class="store-rating card-stars">
      <% num_stars = store.rating %>
      <% num_stars.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - num_stars).times do %>
      <i class="far fa-star"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
