<div class="scroll-box">
  <div class="store-index-form">
    <%= render "shared/filter" %>
  </div>
    <div class="card-container">
      <% @stores.each do |store| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
        <%= link_to "", store_path(store), class: "card-link" %>

        <div class="card-store">
          <%= store.name %>
        </div>
        <div class="card-city">
          <%= store.location %>
        </div>
        <div class="card-description" style="overflow-y: scroll; height:100px;">
          <%= store.description if store.description %>
        </div>
      </div>

      <% end %>
    </div>

</div>


