<div class="scroll-box">
  <div class="store-index-form">
    <%= render "shared/filter" %>
  </div>
  <div class="card-container">
    <% @stores.each do |store| %>
    <div class="card">
    <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.pexels.com/photos/1329510/pexels-photo-1329510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    </div>
      <%= link_to "", store_path(store), class: "card-link" %>
      <div class="card-store">
        <%= store.name %>
      </div>
      <div class="card-rent-price">
        Price €<%= store.rent_price_min %> - €<%= store.rent_price_max %>
      </div>
      <div class="card-store-commission">
        <p>Commission <%= store.commission_amount %> % </p>
      </div>
      <div class="card-search-category">
        <%= store.category %>
      </div>
      <div class="store-rating card-stars">
        <% num_stars = store.rating %>
        <% num_stars.times do %>
        <i class="fas fa-star"></i>
        <% end %>
        <% (5 - num_stars).times do %>
        <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

