<%= render "shared/search" %>

<%= render "shared/filter" %>

<div class="card-container">
  <% @stores.each do |store| %>
    <div class="card col-xs-6 col-md-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
      <div class="card-store limit-store">
        <h3><%= link_to store.name, store %></h3>
      </div>
      <div class="card-city limit-city">
        <h3> <%= store.location %> </h3>
      </div>
      <div class="card-description">
        <p><%= store.description if store.description %></p>
      </div>
    </div>
  <% end %>
</div>

<!-- This is the one from le wagon, used as reference and to steal elements when necessary -->

<!-- <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Very cool city, the best</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div> -->
