<% if @user.owner %>
<div class="new-store-container new-store-form">
  <%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 }, class: 'form-text' %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 }, class: 'form-text' %>
    <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }, class: 'form-text'  %>
    <%= f.input :location, label: "City", class: 'form-text' %>
    <%= f.input :category, class: 'form-text' %>
    <%= f.input :rent_price_min, label: "Minimun Item Price You accept in your store", input_html: { maxlength: 10 }, placeholder: '0', value: :hidden, class: 'form-text'  %>
    <%= f.input :rent_price_max, label: "Maximum Item Price you accept in your store", input_html: { maxlength: 10 }, placeholder: '500', class: 'form-text'  %>
    <%= f.input :link, class: 'form-text' %>
    <%= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }, class: 'form-text'  %>
    <%= f.input :rent_time, label: "The time period you would want to take an item for (default is 30 days)", input_html: { maxlength: 4 }, placeholder: '30', class: 'form-text'  %>
    <%= f.input :photo, class: 'form-text' %>
    <%= f.input :photo_cache, as: :hidden, class: 'form-text' %>
    <div class="booking-new-double-column">
      <%= link_to "Back", :back, class: "button button-small button-red" %>
      <%= f.submit "Add", class: "button button-small button-green" %>
    </div>
  <% end %>
</div>
<% else %>

<div class="new-store-container new-store-form">
<%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 }, class: 'form-text' %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 }, class: 'form-text' %>
    <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }, class: 'form-text'  %>
    <%= f.input :location, label: "City", class: 'form-text' %>
    <%= f.input :category, class: 'form-text' %>
    <%= f.input :link, class: 'form-text' %>
    <%= f.input :rent_price_min, label: "Minimun Item Price You Would accept for your item", input_html: { maxlength: 10 }, class: 'form-text'  %>
    <%= f.input :rent_price_max, label: "Maximum Item Price you Would accept for your item", input_html: { maxlength: 10 }, class: 'form-text'  %>
    <%#= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }, class: 'form-text'  %>
    <%= f.input :rent_time, label: "The time period you would want to take an item for (in days)", input_html: { maxlength: 4 }, class: 'form-text'  %>
    <%= f.input :photo, class: 'form-text' %>
    <%= f.input :photo_cache, as: :hidden, class: 'form-text' %>
    <%= link_to "Back", :back, class: "button button-small button-red" %>
    <%= f.submit "Add", class: "button button-small button-green form-button" %>
<% end %>
</div>
 <% end %>
