<% if @user.owner %>

  <div class="new-store-container form-text">
    <%= simple_form_for(@store) do |f| %>
      <%= f.input :name, input_html: { maxlength: 40 } %>
      <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 } %>
      <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }  %>
      <%= f.input :location, label: "City" %>
      <%= f.input :category %>
      <%= f.input :rent_price_min, label: "Minimun Item Price You accept in your store", input_html: { maxlength: 10 }, placeholder: '0', value: :hidden  %>
      <%= f.input :rent_price_max, label: "Maximum Item Price you accept in your store", input_html: { maxlength: 10 }, placeholder: '500'  %>
      <%= f.input :link %>
      <%= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }  %>
      <%= f.input :rent_time, label: "The time period you would want to take an item for (default is 30 days)", input_html: { maxlength: 4 }, placeholder: '30'  %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Add", class: "button button-medium button-green" %>
      <%= link_to "Back", :back, class: "button button-small button-red" %>
    <% end %>
  </div>

<% else %>

  <div class="new-store-form">
    <h2>Add a Store</h2>
    <div class="new-store-container">
      <%= simple_form_for(@store) do |f| %>
        <%= f.input :name, input_html: { maxlength: 40 } %>
        <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 } %>
        <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }  %>
        <%= f.input :location, label: "City" %>
        <%= f.input :category %>
        <%= f.input :link %>
        <%= f.input :rent_price_min, label: "Minimun Item Price You Would accept for your item", input_html: { maxlength: 10 }  %>
        <%= f.input :rent_price_max, label: "Maximum Item Price you Would accept for your item", input_html: { maxlength: 10 }  %>
        <%#= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }  %>
        <%= f.input :rent_time, label: "The time period you would want to take an item for (in days)", input_html: { maxlength: 4 }  %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Add", class: "button button-medium button-green" %>
        <%= link_to "Back", :back, class: "button button-small button-red" %>
      <% end %>
    </div>
  </div>

<% end %>

