<% if @user.owner %>
<div class="store-form">
<h1> Add a new store </h1>
<div class="new-store-container">
<%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 } %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 } %>
    <%= f.input :address, input_html: { maxlength: 150 }  %>
    <%= f.input :location, label: "City" %>
    <%= f.input :category, collection: Store::CATEGORY_CHOICES %>
    <%= f.input :rent_price_min, label: "Minimun Item Price You accept in your store", input_html: { maxlength: 10 }  %>
    <%= f.input :rent_price_max, label: "Maximum Item Price you accept in your store", input_html: { maxlength: 10 }  %>
    <%= f.input :commission_amount, label: "Commission per sold item in %", input_html: { maxlength: 4 }  %>
    <%= f.input :rent_time, label: "Days you display an item (min 30)", input_html: { maxlength: 4 }  %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= link_to "Back", :back, class: "button-small" %>
<% end %>
</div>
</div>

<% else %>

<div class="store-form">
<h1> Add a new store </h1>
<div class="new-store-container">
<%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 } %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 } %>
    <%= f.input :address, input_html: { maxlength: 150 }  %>
    <%= f.input :location, label: "City" %>
    <%= f.input :category, collection: Store::CATEGORY_CHOICES %>
    <%= f.input :rent_price_min, label: "Minimun Item Price You Would accept for your item", input_html: { maxlength: 10 }  %>
    <%= f.input :rent_price_max, label: "Maximum Item Price you Would accept for your item", input_html: { maxlength: 10 }  %>
    <%#= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }  %>
    <%= f.input :rent_time, label: "The time period you would want to take an item for (in days)", input_html: { maxlength: 4 }  %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add", class: "btn btn-primary" %>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
<% end %>
</div>
</div>

<% end %>

