<div class="form-container">
  <div class="container-devise-form">

    <% if @user.owner %>

    <h2>Add A New Store</h2>

    <%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 }, class: 'form-text' %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 }, class: 'form-text' %>
    <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }, class: 'form-text'  %>
    <%= f.input :location, label: "City", class: 'form-text' %>
    <%= f.input :category, class: 'form-text' %>
    <div class="form-prices">
      <%= f.input :rent_price_min, label: "Minimun Item Price", input_html: { maxlength: 10 }, placeholder: '0', value: :hidden, class: 'form-text'  %>
      <%= f.input :rent_price_max, label: "Maximum Item Price", input_html: { maxlength: 10 }, placeholder: '500', class: 'form-text'  %>
    </div>
    <div class="form-prices">
      <%= f.input :commission_amount, label: "Your Commission (%)", input_html: { maxlength: 4 }, class: 'form-text'  %>
      <%= f.input :rent_time, label: "Length Per Display (in days)", input_html: { maxlength: 4 }, placeholder: '30', class: 'form-text'  %>
    </div>
    <%= f.input :link, class: 'form-text' %>
    <%= f.input :photo, class: 'form-text' %>
    <%= f.input :photo_cache, as: :hidden, class: 'form-text' %>
    <div class="form-actions">
      <%= link_to "Back", :back, class: "button button-small button-red" %>
      <%= f.submit "Add", class: "button button-small button-green" %>
    </div>
    <% end %>

    <% else %>

    <h2>Add Details About Your Product</h2>

    <%= simple_form_for(@store) do |f| %>
    <%= f.input :name, input_html: { maxlength: 40 }, class: 'form-text' %>
    <%= f.input :description, label: "Store description (limit 250 characters)", input_html: { maxlength: 250 }, class: 'form-text' %>
    <%= f.input :address, label: "Street Adress", input_html: { maxlength: 150 }, class: 'form-text'  %>
    <%= f.input :location, label: "City", class: 'form-text' %>
    <%= f.input :category, class: 'form-text' %>
    <%= f.input :link, class: 'form-text' %>
    <div class="form-prices">
      <%= f.input :rent_price_min, label: "Minimun Item Price", input_html: { maxlength: 10 }, class: 'form-text'  %>
      <%= f.input :rent_price_max, label: "Maximum Item Price", input_html: { maxlength: 10 }, class: 'form-text'  %>
      <%#= f.input :commission_amount, label: "The commission you want per item (%)", input_html: { maxlength: 4 }, class: 'form-text'  %>
      <%= f.input :rent_time, label: "Length Per Display (in days)", input_html: { maxlength: 4 }, class: 'form-text', as: :hidden  %>
    </div>
    <%= f.input :photo, class: 'form-text' %>
    <%= f.input :photo_cache, as: :hidden, class: 'form-text' %>
    <div class="form-actions">
      <%= link_to "Back", :back, class: "button button-small button-blue" %>
      <%= f.submit "Add", class: "button button-small button-green form-button" %>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
