<div class="sticky-form">
    <%= link_to 'Book Shelf', new_store_booking_path(@store), class: "button button-large button-green" %>
    <p> Join us donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. </p>
</div>

<div class="store-img-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path @store.photo %>');">
</div>

<div class="store-details-container">

  <div class="store-details-show">

    <%= form_for(@store) do |f| %>
    <!-- Do not change class names as these are used in JS -->
    <h2 class="store-show-name">
      <%= @store.name %>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-name"></a>
      <% end %>
      <%= f.text_field :name, class: "input-store-name hidden", maxlength: 40 %>
    </h2>
    <h4 class="store-category-show">
      <%= @store.location %>, <%= @store.category %>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-category"></a>
      <% end %>
      <%= f.text_field :name, class: "input-store-category hidden" %>
    </h4>
    <div class="store-rating-show">
      <%= render 'ratings/form', store: @store %>
      <% num_stars = @store.rating %>
      <% if !num_stars.nil? %>
        <% count = 1 %>
        <% num_stars.times do %>
          <i class="fas fa-star star-<%=count%> star"></i>
          <% count += 1 %>
        <% end %>
        <% (5 - num_stars).times do %>
          <i class="far fa-star star-<%=count%> star"></i>
          <% count += 1 %>
        <% end %>
      <% end %>
    </div>
    <h4>Our Store</h4>
    <div class="store-commish-show">
      <i class="fas fa-balance-scale"></i>
      <p>
        We charge <b><%= @store.commission_amount %>% Commission</b> on rented shelf revenue</p>
      <% if current_user && policy(@store).update? && current_user.owner %>
      <a href="#" class="fas fa-pencil-alt edit-store-commish"></a>
      <% end %>
      <%= f.text_field :commission_amount, class: "input-store-commish hidden" %>
    </div>

    <div class="store-rent-time">
      <i class="far fa-clock"></i>
      <p>We offer shelftime of <b><%= @store.rent_time %> days</b> or more
      </p>
      <% if current_user && policy(@store).update? %>
          <a href="#" class="fas fa-pencil-alt edit-store-time"></a>
      <% end %>
      <%= f.text_field :rent_time, class: "input-store-time hidden" %>
    </div>

    <div class="store-rent-price">
      <i class="far fa-money-bill-alt"></i>
      <p>Product price range <b>€<%= @store.rent_price_min %> - €<%= @store.rent_price_max %>,-</b></p>
      <% if current_user && policy(@store).update? %>
        <a href="#" class="fas fa-pencil-alt edit-store-price"></a>
      <% end %>
      <div class="input-store-price hidden">
        <%= f.text_field :rent_price_min %>
        <%= f.text_field :rent_price_max %>
      </div>
    </div>
  </div>
</div>

<div class="store-about-container">
  <h2>About <%= @store.name %></h2>
  <div class="store-location-show">
    <div class="fas fa-map-marker-alt"></div>
    <p><%= @store.address %></p>
  </div>

  <div class="store-owner">


      <% if user_signed_in? %>
    <i class="far fa-user"></i>

    <%= link_to @store.user.username, user_path(@store.user)%>
    <% else %>
    <%= @store.user.username %>
    <% end %>


  </div>
  <% if @store.description %>
  <div class="store-description">
    <%= @store.description %>
    <% if current_user && policy(@store).update? %>
    <a href="#" class="fas fa-pencil-alt edit-store-description"></a>
    <% end %>
    <%= f.text_field :description, class: "input-store-description hidden", max_length: 250 %>
    <%= f.submit "Edit", class: "button button-small button-blue store-edit-button hidden" %>
  </div>
  <% end %>

  <div class="store-about-images">
    <div></div> <!-- add images here -->
    <div></div>
    <div></div>
  </div>
</div>

<div class="store-map-container">
  <% if !@store.longitude.nil? && !@store.latitude.nil? %>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <% end %>
</div>

<div class="store-testimonial-container">
  <p>What people say about us</p>
  <div class="store-testimonial-card-container">
    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('https://kitt.lewagon.com/placeholder/users/random');" width="100px"></div>
      <h4>Maria Sanchez</h4>
      <h6>Family Jewels Co.</h6>
      <p>"Wow, after using shelf up I was able to sell so many more of my bracelets and necklaces!"</p>
      <div>
        <% 4.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>

    </div>

    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('https://kitt.lewagon.com/placeholder/users/random');" width="100px"></div>
      <h4>Brandon Sanderson</h4>
      <h6>Wood Works Inc.</h6>
      <p>"Wow, after using shelf up I was able to sell so many more things of my home made furniture!"</p>
      <div>
        <% 5.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('https://kitt.lewagon.com/placeholder/users/random');" width="100px"></div>
      <h4>Pierce Brown</h4>
      <h6>"Blue Publising LLC.</h6>
      <p>Wow, after using shelf up I was able to sell so many more books and novels! Thanks ShelfUp!"</p>
      <div>
        <% 4.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


      <div class="store-owner">
        <% if user_signed_in? %>
          <%= link_to @store.user.username, user_path(@store.user) %>
        <% else %>
          <%= @store.user.username %>
        <% end %>
      </div>


      <% if !@store.link.nil? %>
        <div class="store-link">
          Website: <%= link_to "#{@store.link}", @store.link %>
          <% if current_user && policy(@store).update? %>
            <a href="#" class="fas fa-pencil-alt edit-store-link"></a>
          <% end %>
          <%= f.text_field :link, class: "input-store-link hidden" %>
        </div>
      <% end %>

    <% end %>

  </div>

  <div class="store-buttons">
    <% if !user_signed_in? %>
      <div class="btn">Please Sign Up / Log In to view the Owner's details and request this space.</div>
    <% end %>

    <% if current_user && current_user != @store.user && !current_user.owner %>
      <% if @store.bookings.empty? %>
        <%= link_to "Request Shelf", new_store_booking_path(@store), class: "button button-small button-green" %>
      <% else %>
        <% @store.bookings.each do |booking| %>
          <% if booking.user == current_user && booking.status == "Pending" %>
            You have already requested this shelf.
          <% else %>
            <%= link_to "Request Shelf", new_store_booking_path(@store), class: "button button-small button-green" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to "Back", stores_path, class: "button button-small button-red" %>

    <% if current_user && policy(@store).update? %>
      <%= link_to "Delete this space", store_path(@store), method: :delete, class: "button button-small button-red" %>
    <% end %>
  </div>
</div>
