<div class="store-img-banner" id="scroll-store" style="background-image: url('https://images.pexels.com/photos/1267360/pexels-photo-1267360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
</div>

<div class="store-details-container">


  <div class="store-details-show">

    <%= form_for(@store) do |f| %>
    <!-- Do not change class names as these are used in JS -->
    <h2 class="store-show-name">
      <%= @store.name %>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-name"></a>
      <% end %>
      <%= f.text_field :name, class: "input-store-name hidden", maxlength: 40 %>
    </h2>
    <h4 class="store-category-show">
      <%= @store.location %>, <%= @store.category %>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-category"></a>
      <% end %>
      <div class="input-store-category hidden">
        <%= f.text_field :location %>
        <%= f.text_field :category %>
      </div>
    </h4>
    <div class="store-rating-show">
      <% num_stars = @store.rating %>
      <% if !num_stars.nil? %>
      <% count = 1 %>
      <% num_stars.times do %>
      <i class="fas fa-star star"></i>
      <% count += 1 %>
      <% end %>
      <% (5 - num_stars).times do %>
      <i class="far fa-star star"></i>
      <% count += 1 %>
      <% end %>
      <% end %>
    </div>
    <h4>Our Store</h4>
    <div class="store-commish-show">
      <i class="fas fa-balance-scale"></i>
      <p>
        We charge <b id="commission"><%= @store.commission_amount %></b><b>% Commission</b> on rented shelf revenue</p>
        <% if current_user && policy(@store).update? && current_user.owner %>
        <a href="#" class="fas fa-pencil-alt edit-store-commish"></a>
        <% end %>
        <%= f.text_field :commission_amount, class: "input-store-commish hidden" %>
      </div>

      <div class="store-rent-time">
        <i class="far fa-clock"></i>
        <p>We offer shelftime of <b><%= @store.rent_time %> days</b> or more
        </p>
        <% if current_user && policy(@store).update? %>
        <a href="#" class="fas fa-pencil-alt edit-store-time"></a>
        <% end %>
        <%= f.text_field :rent_time, class: "input-store-time hidden" %>
      </div>

      <div class="store-rent-price">
        <i class="far fa-money-bill-alt"></i>
        <p>Product price range <b>€<%= @store.rent_price_min %> - €<%= @store.rent_price_max %></b></p>
        <% if current_user && policy(@store).update? %>
        <a href="#" class="fas fa-pencil-alt edit-store-price"></a>
        <% end %>
        <div class="input-store-price hidden">
          <%= f.text_field :rent_price_min %>
          <%= f.text_field :rent_price_max %>
        </div>
      </div>
    </div>

    <div class="sticky-form">
      <%= render 'shared/bookingform' %>
    </div>

  </div>



  <div class="store-about-container">
    <h2>About <%= @store.name %></h2>
    <div class="store-location-show">
      <div class="fas fa-map-marker-alt"></div>
      <p><%= @store.address %></p>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-address"></a>
      <% end %>
      <%= f.text_field :address, class: "input-store-address hidden" %>
    </div>

    <div class="store-owner">
      <% if user_signed_in? %>
      <i class="far fa-user"></i>

      <%= link_to @store.user.username, user_path(@store.user)%>
      <% else %>
      <%= @store.user.username %>
      <% end %>
    </div>
    <% if @store.description %>
    <div class="store-description">
      <%= @store.description %>
      <% if current_user && policy(@store).update? %>
      <a href="#" class="fas fa-pencil-alt edit-store-description"></a>
      <% end %>
      <%= f.text_field :description, class: "input-store-description hidden", max_length: 250 %>
      <%= f.submit "Edit", class: "button button-small button-blue store-edit-button hidden" %>
    </div>
    <% end %>

    <div class="store-about-images">
      <div class="store-image-one"></div> <!-- add images here -->
      <div class="store-image-two"></div>
      <div class="store-image-three"></div>
    </div>
  </div>

  <div class="store-map-container">
    <% if !@store.longitude.nil? && !@store.latitude.nil? %>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <% end %>
</div>

<div class="store-testimonial-container">
  <p>What people say about us</p>
  <div class="store-testimonial-card-container">
    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('<%=asset_path 'shebrews.jpg' %>');" width="100px"></div>
      <h4>Maria Sanchez</h4>
      <h6>She Brews LTD</h6>
      <p>"The king for a reason! It's always a pleasure to work with Marco!"</p>
      <div>
        <% 4.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>

    </div>

    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('<%=asset_path 'beardman.jpg' %>');" width="100px"></div>
      <h4>Brandon Sanderson</h4>
      <h6>WoodJack Stout</h6>
      <p>After beeing awarded newcomer of the month our beer got a permanent spot on the menu!"</p>
      <div>
        <% 5.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-avatar" style="background-image: url('<%=asset_path 'blueberry.jpg' %>');" width="100px"></div>
      <h4>Pierce Brown</h4>
      <h6>"Blue Beer Brewery</h6>
      <p>"Very professional staff serving your product and great location!"</p>
      <div class="testimonial-rating">
        <% 4.times do %>
        <i class="fas fa-star star"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>

</div>

<script type="text/javascript">
  function scroll() {
    const button = document.getElementById("scroll-store");
    button.scrollIntoView({
      block: 'start',
      behavior: 'smooth'
    });
  }
</script>

<div class="store-buttons">
  <% if !user_signed_in? %>
  <div class="align-text">
    Please <%= link_to "Sign Up", new_user_registration_path %> / <%= link_to "Log In", new_user_session_path %> to view the Owner's details and request this space.</div>
  </div>
  <% end %>

  <% if current_user && current_user != @store.user %>

  <%# if @store.bookings.empty? %>
  <p><b>Request this shelf today!</b></p>
  <a href='#' class="button button-small button-blue" onclick="scroll();">Request This Shelf</a>

  <%# else %>
  <%# @store.bookings.each do |booking| %>
  <%# if booking.user == current_user && booking.status == "Pending" %>
         <!--  <b>You have already requested this shelf</b>
          <a href="#" onclick="scroll();">Top</a> -->
          <%# end %>
          <%# end %>

          <!-- <p><b>Request this shelf today!</b></p> -->
          <%#= link_to "Request This Shelf", new_store_booking_path(@store), class: "button button-small button-blue" %>
          <%# end %>
          <%# end %>
          <%# end %>
          <% end %>

          <% if current_user && policy(@store).update? %>
          <%= link_to "Delete this space", store_path(@store), method: :delete, class: "button button-small button-red" %>
          <% end %>
        </div>

