Make a Booking

<script>
  function calcPrice() {
    const pricePerUnit = document.getElementById("booking_price_per_unit").value;
    const unitQuantity = document.getElementById("booking_quantity").value;

    document.getElementById('total-cost').innerHTML = "Total Cost: " + (pricePerUnit*unitQuantity).toString();
    if (unitQuantity === "") {
      document.getElementById('total-cost').innerHTML = "Total Cost: ";
    }
  }
</script>

<%= simple_form_for([@store, @booking]) do |f| %>
    <%= f.input :category, label: "Item Type" %>
    <%= f.input :name, label: "Item Name" %>
    <%= f.input :price_per_unit %>
    <%= f.input :quantity, label: "Amount of units" %>
    <p id="total-cost">Total Cost: </p>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= link_to "Back", :back, class: "btn btn-primary" %>
    <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>

<script>
  const quantity = document.querySelector("#booking_quantity");
  quantity.addEventListener('keyup', (event) => {
    calcPrice();
  });
</script>
