<div class="booking-card">
  <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('<%= cl_image_path store.photo %>');">&nbsp;
  </div>
  <div class="booking-card-content">
    <div class="user-bookings-store-name">
      <%=  link_to store.name, store_path(store) %>
    </div>
    <div class="user-bookings-category-location">
      <%= booking.category %> - <%= booking.store.location %>
    </div>

    <div class="user-bookings-total-price">
      <p>Booking Fee: €<%= booking.booking_fee %></p>
      <p><span class="glyphicon glyphicon-calendar"></span>   <%= booking.start_date %> / <%= booking.end_date %></p>
    </div>
  </div>
  <div class="booking-card-extra">
    <% if !booking.start_date.nil? && Date.today >= booking.start_date && Date.today <= booking.end_date && booking.status != "Declined" && booking.status != "Pending" %>
    <% booking.status = "Currently Displayed" %>
    <% elsif !booking.start_date.nil? && Date.today > booking.end_date %>
    <% booking.status = "Past End Date" %>
    <% end %>
    <div class="user-bookings-status">
      <%= booking.status %>
    </div>

    <div class="user-bookings-actions">
      <!-- if booking is pending and user is an owner -->
      <% if @user.owner %>
      <!-- add option to accept or delete booking if pending -->
      <% if booking.status == "Pending" && policy(booking).update? %>
      <%= form_for(booking, method: :put) do |f| %>
      <%= f.hidden_field :status, value: "Accepted" %>
      <%= f.submit "Accept", class: "button button-small button-green" %>
      <% end %>
      <%= form_for(booking, method: :put) do |f| %>
      <%= f.hidden_field :status, value: "Declined" %>
      <%= f.submit "Decline", class: "button button-small button-red" %>
      <% end %>
      <% end %>

      <!-- if user is an entrepreneur -->
      <% else %>

      <% if booking.status == 'Pending' %>
      <%= link_to "Delete", booking_path(booking), method: :delete, class: "button button-small button-red" %>
      <% end %>

      <% end %>


    </div>

  </div>

  <div class="user-bookings-chatroom hidden">
    <div class="user-chatroom-messages">

      <!-- display comment if there is one -->
      <% if booking.comment %>
      <div class="booking-comment">
        <%= booking.store.user.username.capitalize %> :
        <%= booking.comment %>
      </div>
      <% end %>

      <!-- display messages if there are any -->
      <% if !booking.messages.empty? %>
      <div class="booking-messages">

        <% booking.messages.each do |message| %>
        <div class="booking-message">
          <%= message.user.username.capitalize %> :
          <%= message.text %>
        </div>
        <% end %>

      </div>
      <% end %>

    </div>

    <!-- form to send new message -->
    <div class = "chatroom-submit">
      <%= form_for([booking, @message]) do |f| %>
      <%= f.text_field :text %>
      <%= f.submit "Send", class: "button button-small button-blue" %>
      <% end %>
    </div>
  </div>
</div>
