<div class="user-show-container">

  <div class="user-show-box">
    <div class="user-show-avatar">
      <% if @user.photo %>
      <%= cl_image_tag @user.photo,
      width: 300, height: 300, crop: :thumb, gravity: :face, style:"border-radius:50%;"%>
      <% end %>
    </div>
    <div class="personal-details">
      <h1 class="user-show-name">
        <%= @user.username %>
        <% if @user == current_user %>
        <%= link_to edit_user_registration_path(@user) do %>
        <i class="fas fa-pencil-alt"></i>
        <% end %>
        <% end %>
      </h1>
      <% if @user == current_user %>
      <%= link_to "Add Products", new_store_path, class: "add-product button button-large button-blue" %>
      <div class="messages-button-on-profile">
        <i class="far fa-envelope"></i>
        <%= link_to "Messages", user_messages_path(@user) %>
      </div>
      <% end %>
    </div>
  </div>


  <% if @user == current_user %>

  <!--  displays the current user's account with bookings & messages -->
  <%= render 'users/user_personal_show' %>

  <% else %>

  <%= render 'users/third_party_show' %>

  <% end %>

</div>
