<!-- user profile details tab -->
<div class="user-show-container">
  <!-- tabs -->
  <div class="tabs">
    <div class="tab-left"></div>
    <% if @user == current_user %>
    <a href="#" class="tab tab-first active">Personal</a>
    <a href="#" class="tab tab-second">Bookings</a>
    <a href="#" class="tab tab-third">Current Shelfs</a>
    <a href="#" class="tab tab-last">Messages</a>
    <% else %>
    <a href="#" class="tab tab-first active">Owner's Details</a>
    <% end %>
    <div class="tab-right"></div>
  </div>

  <!-- user personal details tab -->
  <div class="user-show-box personal-details">
    <div class="user-show-avatar">
      <% if @user.photo %>
      <%= cl_image_tag @user.photo,
      width: 130, height: 130, crop: :thumb, gravity: :face, style:"border-radius:50%;"%>
      <% end %>
    </div>

    <div class="user-show-name">
      <%= @user.username.capitalize %>
    </div>

    <div class="user-show-edit-btn">
      <% if @user == current_user %>
      <%= link_to edit_user_registration_path(@user) do %>
      Edit Profile
      <% end %>
      <% end %>
    </div>

    <div class="user-show-details">
      <div>Email: <%= @user.email %></div>
      <div>Phone: +31 06123456</div>
      <div>Web: www.BadAssBrew.com</div>
      <div>** I Think we need more info here? **</div>
    </div>

    <div class="user-show-stores">
      <% if @user.owner && @user.stores.empty? %>
      <h3 class="btn btn-danger">You haven't added a Store yet</h3>
      <% elsif @user.owner && !@user.stores.empty? %>
      <% @user.stores.each do |store| %>
      <h3><%= link_to store.name, store_path(store) %></h3>
      <% num_stars = store.rating %>
      <% num_stars.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - num_stars).times do %>
      <i class="far fa-star"></i>
      <% end %>
      <% end %>
      <% end %>

      <% if params[:id] == current_user.id && current_user.owner %>
      <h3><%= link_to "Add a New Store", new_store_path, class: "btn btn-primary" %></h3>
      <% elsif params[:id] == current_user.id %>
      <h3><%= link_to "Add details about your Brand", new_store_path, class: "btn btn-primary" %></h3>
      <% end %>
    </div>
  </div>



  <!-- pending shelves tab -->
  <div class="user-show-box pending-bookings hidden">
    <div class="user-show-pending-bookings">

      <!-- if user is the owner, show the accept or decline options -->
      <% if @user.owner %>
      <% @user.stores.each do |store| %>
      <% store.bookings.each do |booking| %>
      <div class="booking-card">
        <p>Store: <%= store.name %></p>
        <p>Category: <%= booking.category %></p>
        <p>Total Price: €<%= booking.total_price %></p>
        <% if booking.status == "Pending" && policy(booking).update? %>
        <%= form_for(booking, method: :put) do |f| %>
        <%= f.hidden_field :status, value: "Accepted" %>
        <%= f.submit "Accept", class: "btn btn-primary" %>
        <% end %>
        <%= form_for(booking, method: :put) do |f| %>
        <%= f.hidden_field :status, value: "Declined" %>
        <%= f.submit "Decline", class: "btn btn-primary" %>
        <% end %>
        <% else %>
        <p>Status: <%= booking.status %></p>
        <% end %>
      </div>
      <% end %>
      <% end %>

      <!-- if user not an owner, just show his pending bookings -->
      <% else %>
      <% @user.bookings.each do |booking| %>
      <div class="booking-card">
        <p>Store: <%= booking.store.name %></p>
        <p>Category: <%= booking.category %></p>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
        <p>Total Price: €<%= booking.total_price %></p>
        <p>Status: <%= booking.status %></p>
        <% if booking.status == 'Pending' %>
        <%= link_to "Cancel", booking_path(booking), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
      <% end %>
      <% end %>

    </div>
    <%= link_to "Back", stores_path, class: "button button-small button-red" %>
  </div>

  <!-- current shelves tab -->
  <div class="user-show-box current-bookings hidden">
    <div class="user-show-current-bookings">

      <% @user.bookings.each do |booking| %>
      <% if !booking.start_date.nil? && Date.today >= booking.start_date %>

      <div class="booking-card">
        <p>Store: <%= booking.store.name %></p>
        <p>Category: <%= booking.category %></p>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
        <p>Total Price: €<%= booking.total_price %></p>
        <p>Status: <%= booking.status %></p>
        <% if booking.status == 'Pending' %>
        <%= link_to "Cancel", booking_path(booking), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>

      <% end %>
      <% end %>

    </div>
    <%= link_to "Back", stores_path, class: "button button-small button-red" %>
  </div>

  <!-- messages tab -->
  <div class="user-show-box messages hidden">

  </div>


</div>
</div>
