<!-- user profile details tab -->
<div class="user-show-container">
  <!-- tabs -->
  <div class="tabs">
    <div class="tab-left"></div>
    <% if @user == current_user %>
    <a href="#" class="tab tab-first active">Personal</a>
    <%# if @user.bookings.empty? %>
    <a href="#" class="tab tab-second">Bookings</a>
    <a href="#" class="tab tab-third">Current Shelfs</a>
    <%# end %>
    <a href="#" class="tab tab-last">Messages</a>
    <% else %>
    <a href="#" class="tab tab-first active">Owner's Details</a>
    <% end %>
    <div class="tab-right"></div>
  </div>

  <!-- user personal details tab -->
  <div class="user-show-box personal-details">
    <div class="user-show-avatar">
      <% if @user.photo %>
      <%= cl_image_tag @user.photo,
      width: 130, height: 130, crop: :thumb, gravity: :face, style:"border-radius:50%;"%>
      <% end %>
    </div>

    <div class="user-show-name">
      <%= @user.username.capitalize %>
    </div>

    <div class="user-show-edit-btn">
      <% if @user == current_user %>
      <%= link_to edit_user_registration_path(@user) do %>
      Edit Profile
      <% end %>
      <% end %>
    </div>

    <div class="user-show-details">
      <div>Email: <%= @user.email %></div>
      <div>Phone: +31 06123456</div>
      <div>Web: www.BadAssBrew.com</div>
      <div>** I Think we need more info here? **</div>
    </div>

    <div class="user-show-stores">
      <% if @user.owner && @user.stores.empty? %>
      <h3 class="btn btn-danger">You haven't added a Store yet</h3>
      <% elsif @user.owner && !@user.stores.empty? %>
      <% @user.stores.each do |store| %>
      <h3><%= link_to store.name, store_path(store) %></h3>
      <% num_stars = store.rating %>
      <% num_stars.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - num_stars).times do %>
      <i class="far fa-star"></i>
      <% end %>
      <% end %>
      <% end %>

      <% if params[:id].to_i == current_user.id && current_user.owner %>
      <h3><%= link_to "Add a New Store", new_store_path, class: "btn btn-primary" %></h3>
      <% elsif params[:id].to_i == current_user.id %>
      <h3><%= link_to "Add details about your Brand", new_store_path, class: "btn btn-primary" %></h3>
      <% end %>
    </div>
  </div>



  <!-- pending shelves tab -->
  <div class="user-show-box pending-bookings hidden">
    <div class="user-show-pending-bookings">

      <!-- if user is the owner, show the accept or decline options -->
      <% if @user.owner %>
      <% @user.stores.each do |store| %>
      <% store.bookings.each do |booking| %>
      <div class="booking-card">
        <div class="user-bookings-store-name">
          <%= store.name %>
        </div>
        <div class="user-bookings-category-location">
          <%= booking.category %> - <%= booking.store.location %>
        </div>

        <%= form_for(booking) do |f| %>


        <% if current_user && policy(booking).update? %>
        <a href="#" class="fas fa-pencil-alt"></a>
        <%= f.text_field :category, class: "input-store-name", maxlength: 40 %>
        <% end %>


        <% end %>
        <div class="user-bookings-total-price">
          Total Price: €<%= booking.total_price %>
        </div>

        <% if booking.status == "Pending" && policy(booking).update? %>
        <%= form_for(booking, method: :put) do |f| %>
        <%= f.hidden_field :status, value: "Accepted" %>
        <%= f.submit "Accept", class: "button button-small button-blue" %>
        <% end %>
        <%= form_for(booking, method: :put) do |f| %>
        <%= f.hidden_field :status, value: "Declined" %>
        <%= f.submit "Decline", class: "button button-small button-red" %>
        <% end %>
        <% else %>
        <div class="user-bookings-status">
          Status: <%= booking.status %>
        </div>
        <% end %>

        <div class="user-bookings-message-button">
          <a href="#" class="button button-small button-blue">Messages</a>
        </div>

        <div class="user-bookings-chatroom">
          <% if !booking.comment.nil? %>
          <div class="user-chatroom-messages">
            <div>
            <%= booking.store.user.username.capitalize %> :
            <%= booking.comment %>
            <% end %>
            </div>
            <% if !booking.messages.empty? %>
            <% booking.messages.each do |message| %>
            <div>
            <%= message.user.username.capitalize %> :
            <%= message.text %>
            <% end %>
            <% end %>
            </div>
          </div>
        <div class = "chatroom-submit">
          <%= form_for([booking, @message]) do |f| %>
          <%= f.text_field :text %>
          <%= f.submit "Send", class: "button button-small button-blue" %>
        </div>
          <% end %>
          <% end %>
          <% end %>
      </div>
    </div>

      <!-- if user not an owner, just show his pending bookings -->
      <% else %>
      <% @user.bookings.each do |booking| %>
      <div class="booking-card">
        <div class="user-bookings-store-name">
          <%= booking.store.name %>
        </div>
        <div class="user-bookings-category-location">
          <%= booking.category %> - <%= booking.store.location %>
        </div>
        <div class="user-bookings-dates">
          <%= booking.start_date %> - <%= booking.end_date %>
        </div>
        <div class="user-bookings-total-price">
          Total Price: €<%= booking.total_price %>
        </div>
        <div class="user-bookings-status">
          <%= booking.status %>
        </div>
        <div class="user-bookings-message-button">
          <a href="#" class="button button-small button-blue">Messages</a>
        </div>
        <% if booking.status == 'Pending' %>
        <div class="bookings-status-buttons">
          <%= link_to "Cancel", booking_path(booking), method: :delete, class: "button button-small button-red" %>
          <% end %>
          <%= link_to "Back", stores_path, class: "button button-small button-red" %>
        </div>
      </div>

      <!-- chat room to pop up under card -->
      <div class="user-bookings-chatroom">
        <% if !booking.comment.nil? %>
        <div class="user-chatroom-messages">
          <div>
            <%= booking.store.user.username.capitalize %> :
            <%= booking.comment %>
            <% end %>
          </div>
          <% if !booking.messages.empty? %>
          <% booking.messages.each do |message| %>
          <div>
            <%= message.user.username.capitalize %> :
            <%= message.text %>
            <% end %>
            <% end %>
          </div>
        </div>
        <div class = "chatroom-submit">
          <%= form_for([booking, @message]) do |f| %>
          <%= f.text_field :text %>
          <%= f.submit "Send", class: "button button-small button-blue" %>
        </div>
          <% end %>
          <% end %>
          <% end %>
      </div>
    </div>

  <!-- current shelves tab -->
  <div class="user-show-box current-bookings hidden">
    <div class="user-show-current-bookings">
      <div class="booking-card">
        <% if @user.owner %>
        <% @user.stores.each do |store| %>
        <% store.bookings.each do |booking| %>
        <% if !booking.start_date.nil? && Date.today >= booking.start_date %>
        <div class="booking-card">
          <p class="user-bookings-store-name">Store: <%= store.name %></p>
          <p>Category: <%= booking.category %></p>
          <p>Total Price: €<%= booking.total_price %></p>
          <% if booking.status == "Pending" && policy(booking).update? %>
          <%= form_for(booking, method: :put) do |f| %>
          <%= f.hidden_field :status, value: "Accepted" %>
          <%= f.submit "Accept", class: "btn btn-primary" %>
          <% end %>
          <%= form_for(booking, method: :put) do |f| %>
          <%= f.hidden_field :status, value: "Declined" %>
          <%= f.submit "Decline", class: "btn btn-primary" %>
          <% end %>
          <% else %>
          <p>Status: <%= booking.status %></p>
          <% end %>
        </div>
      <% end %>
      <% end %>
      <% end %>

      </div>

    <% else %>

    <% @user.bookings.each do |booking| %>
    <% if !booking.start_date.nil? && Date.today >= booking.start_date %>

      <div class="booking-card">
        <p class="user-bookings-store-name">Store: <%= booking.store.name %></p>
        <p>Category: <%= booking.category %></p>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
        <p>Total Price: €<%= booking.total_price %></p>
        <p>Status: <%= booking.status %></p>
        <% if booking.status == 'Pending' %>
        <%= link_to "Cancel", booking_path(booking), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>

    <% end %>
    <% end %>
    <% end %>

    </div>
  <%= link_to "Back", stores_path, class: "button button-small button-red" %>
  </div>
</div>
<!-- messages tab -->
  <div class="user-show-box messages hidden">

  </div>

</div>

