<!-- page scrolls back to top when refreshed -->
<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }
</script>

<div class="banner">
  <div class="banner-content">
    <h1>YOUR PRODUCTS IN REAL STORES</h1>
    <p>ShelfUp let’s you display your brand in the coolest neighbourhoods of the city.</p>

    <div id="form-control-banner" class="banner-search">
      <div><%= form_tag stores_path, method: :get do %>
        <% if user_signed_in? && current_user.owner %>
        <%= text_field_tag :query, params[:query], class: "form-control form-control-banner", placeholder: "Search Locations" %>
        <% elsif user_signed_in? && !current_user.owner %>
        <%= text_field_tag :query, params[:query], class: "form-control form-control-banner", placeholder: "Search Locations" %>
        <% else %>
        <%= text_field_tag :query, params[:query], class: "form-control form-control-banner", placeholder: "Search" %>
        <% end %>
      </div>
    </div>

    <div class="banner-button">
      <%= submit_tag "Search", class: "btn-big-homepage" %>
      <button type="button" class="homepage-button">Search</button>
    </div>
    <% end %>

    <!-- smooth scrolling down the page -->
    <script type="text/javascript">
      function Scroll() {
        const button = document.getElementById("scroll");
        button.scrollIntoView({
          block: 'start',
          behavior: 'smooth'
        });
      }
    </script>

    <div class="banner-learn" onclick="Scroll();">
      LEARN MORE
    </div>
  </div>
</div>
