<div>
  <script>
    function calcPrice() {
      // calculations
      const pricePerUnit = document.getElementById("booking_price_per_unit").value;
      const unitQuantity = document.getElementById("booking_quantity").value;
      const commission = document.getElementById("commission").innerText;
      console.log(commission)
      const daysTime = (Date.parse(document.getElementById('booking_end_date').value) - Date.parse(document.getElementById('booking_start_date').value)) / (86400000);
      const bookingFee = (Math.round((((pricePerUnit) * unitQuantity) * 0.15)*100) / 100) * daysTime;
      if (bookingFee) {
        document.getElementById('store-fee').innerHTML = "Shelf Rental Fee: €" + bookingFee.toString();
      }


      // FIX THE ABOVE!!

      const total = (Math.round(((pricePerUnit * unitQuantity) - (bookingFee + commission) * 100) / 100) * daysTime);
      if (total) {
        document.getElementById('total-profit').innerHTML = "Possible Revenue: €" + total.toString();
      }
    }
  </script>

  <div class="booking-new-form">
    <div class="form-title">
      REQUEST
    </div>
    <%= simple_form_for([@store, @booking]) do |f| %>
    <div class="booking-form-row-one">
      <div class="booking-form-name">
        <%= f.input :name, label: "Name", maxlength: 30, required: true %>
      </div>
    </div>
    <div class="booking-row-one-a">
      <div class="booking-form-start-date">
        <%= f.input :start_date, label: "Start", as: :string, input_html: { class: "datepicker" }, required: true %>
      </div>
      <div class="booking-form-end-date">
        <%= f.input :end_date, label: "End", as: :string, input_html: { class: "datepicker" }, required: true %>
      </div>
    </div>

    <div class="booking-form-row-two">
      <div class="price-per-unit">
        <%= f.input :price_per_unit, label: "Price/Unit €", input_html: { min: '0', step: '0.01' }, value: number_with_precision(f.object.price_per_unit, precision: 2), required: true %>
      </div>
      <div class="booking-quantity">
        <%= f.input :quantity, label: "Quantity", required: true %>
      </div>
    </div>

    <div class="booking-form-row-three">
      <!-- Hidden fields we calculate -->
      <div id="total-profit">
        Possible Revenue: €0
      </div>

      <div id="store-fee">
        Shelf Rental Fee: €0<%= f.input :booking_fee, label: "Shelf Rental Fee:", as: :hidden %>
      </div>
    </div>
    <div class="booking-photo">
      <%= f.input :photo, label: "Photo:" %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
      <div class ="booking-form-message-box hidden">
      <%= f.input :comment, label: "Message" %>
    </div>

    <div class = "booking-new-submit">
      <a class="booking-form-message-button button button-small button-blue" href="#">Message</a>
      <%= f.submit "Book", class: "button button-medium button-green" %>
    </div>
    <% end %>
  </div>

  <!-- Has to be below the form, otherwise the form breaks because the function is confused -->
  <script>
     // updates when quantity is changed
    const quantity = document.querySelector("#booking_quantity");
    quantity.addEventListener('keyup', (event) => {
      calcPrice();
    });
    //  Updates when price per unit is changed
    const price_per_unit = document.querySelector("#booking_price_per_unit");
    price_per_unit.addEventListener('keyup', (event) => {
      calcPrice();
    });
    // updates when start date is changed
    const booking_start_date = document.querySelector("#booking_start_date");
    booking_start_date.addEventListener('input', (event) => {
      calcPrice();
    });
    // updates when end date is changed
    const booking_end_date = document.querySelector("#booking_end_date");
    booking_end_date.addEventListener('input', (event) => {
      calcPrice();
    });
  </script>
</div>
