<div class="flex-box centered medium-text">
  <div class="filter-button">
  </div>
  <div>
<h3 class="filter-button">Filter Results By:</h3>
<%= form_tag stores_path, method: :get, class: "filter-form" do %>
Location:
<%= text_field_tag :location, params[:location], value: "#{@location}" %>
Category:
<%= select_tag :category, options_for_select(Store::CATEGORY_CHOICES, selected: "#{@category}"), include_blank: true, class: "filter-category" %>
Name:
<%= select_tag :name, options_for_select(@names, selected: "#{@name}"), include_blank: true, class: "filter-category" %>
Commission:
Min: <%= number_field_tag :commission_min, nil, min: 0, value: "#{@price_min}" %>
Max: <%= number_field_tag :commission_max, nil, max: 100, value: "#{@price_max}" %>
Price Range:
Min: <%= number_field_tag :price_min, nil, min: 0, value: "#{@price_min}" %>
Max: <%= number_field_tag :price_min, nil, value: "#{@price_max}" %>
Rental Period (in days):
Min: <%= number_field_tag :time_min, nil, min: 0, value: "#{@time_min}" %>
Max: <%= number_field_tag :time_min, nil, value: "#{@time_max}" %>
<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
</div>

