<%= render "shared/banner" %>
<div class="homepage-why-wrapper">
  <div class="flex-box centered width-big" id="scroll">
    <div class="flex-grow thirty line-through"></div>
    <div class= "padding-small thirty"><h2><b>Why Shelfup?</b></h2></div>
    <div class="flex-grow thirty line-through"></div>
  </div>

  <div class="homepage-why-container">
    <div class="homepage-why-box box-shadow-why-right">
      <div class="why-title">Brand Awareness</div>
    </div>
    <div class="homepage-why-box with-bg-color-one">
      <p>Increase brand awareness by displaying your goods in the coolest stores in town. With ShelfUp you give customers the chance to experience your products before they buy.  </p>
    </div>
    <div class="homepage-why-box with-bg-color-two">
      <p>Increase your income! With ShelfUp, all parties win. As a store owner you can generate earnings by giving newcomers the chance to display their product where it really matters! Neat: You don't have to stock the inventory but still profit from every sale! </p>
    </div>
    <div class="homepage-why-box box-shadow-why-left">
      <div class="why-title">Additional Income</div>
    </div>

    <div class="homepage-why-box box-shadow-why-right">
      <div class="why-title">Changing Inventory</div>
    </div>
    <div class="homepage-why-box with-bg-color-three">
      <p>Keep your customers hungry for more! By supplying shelves to local producers you ensure that your inventory is always changing. ShelfUp will keep customers visitng your store again and again!</p>
    </div>
    <div class="homepage-why-box with-bg-color-four">
      <p>Help your community. Support your neighbors who have a passion for their small business. Provide help to those looking to turn their hobby into a business and find potential new business partners!</p>

    </div>
    <div class="homepage-why-box box-shadow-why-left">
      <div class="why-title">Community Support</div>
    </div>
  </div>
</div>

<!-- whos on yourshelf title -->
<div class="homepage-why-wrapper">
  <div class="flex-box centered width-big">
    <div class="flex-grow thirty line-through"></div>
    <div class= "padding-small thirty"><h2><b>Who's on Yourshelf?</b></h2></div>
    <div class="flex-grow thirty line-through"></div>
  </div>
</div>

<div class="homepage-wrapper">

  <div class="homepage-users bottom-margin">
    <div class="homepage-avatar" id="adrien">
    </div>
    <div class="homepage-users-words">
      <p>"After marketing our brand on social media channels we realized that the people are hesitant to buy products from newcomers they dont know yet. With ShelfUp we were able to display our product in any city by partnering with the local stores and give the people the chance to experience our product before they buy! Our business has grown ever since.</p>
      <p class="owner-desription"> - Adrien, BombShop Clothing Inc.</p>
    </div>
  </div>

  <div class="homepage-users">
    <div class="homepage-users-words">
      <p>"Opening a Pop-Up store has always been a dream of mine but there are many risks. ShelfUp helps me as a store owner by giving me the opportunity to sell new products I like without buying a large quantity of it first. My customers keep coming back regularly as our inventory changes with every new partner we have!
      "</p>
      <p class="owner-desription"> - Laura, Natural Beauty Co.</p>
    </div>
     <div class="homepage-avatar" id="laura">
    </div>
  </div>

  <div class="homepage-bottom-buttons">



    <% if current_user && current_user.owner %>
    <div class="you-have-shelf">
      <div>
        Find Local Goods!
      </div>
    </div>
    <div class="you-have-shelf-btn">
      <%= link_to "Find Brands", stores_path, class: "button button-extra-large button-blue" %>
    </div>
    <% elsif current_user %>
    <div class="want-to-display">
      <div>
        Find Your shelf!
      </div>
    </div>
    <div class="want-to-display-btn">
      <%= link_to "Find Stores", stores_path, class: "button button-extra-large button-blue" %>
    </div>
    <% else %>
    <div class="want-to-display">
      <div>
        Find Your Shelf!
      </div>
    </div>
    <div class="want-to-display-btn">
      <%= link_to "Find Stores/Brands", stores_path, class: "button button-extra-large button-blue" %>
    </div>
    <% end %>

  </div>
</div>

<%= render "shared/footer" %>



